<p>bhaskar works!</p>


<h2>Add a border to a table:</h2>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>Griffin</td>
  </tr>
</table>


<nb-card>
  <nb-card-header>Button</nb-card-header>
  <nb-card-body class="example-items-rows">
    <button nbButton (click) = "onClick($event)">Active</button>
    {{hello}}
    <button nbButton disabled>Disabled</button>
  </nb-card-body>
</nb-card>

